@import '~antd/dist/antd.css';

@font-face {
  font-family: myFirstFont;
  src: url('../../static/fonts/OpenSans-Regular.ttf');
}

body {
  margin: 0;
  padding: 0;
  font-family: myFirstFont;
}

#root {
  height: 100%;
}

#app {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.ant-layout-sider-children {
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
}

.ant-input-group {
  height: 100%;
}

.ant-input {
  height: 100%;
}
