@import '~antd/dist/antd.css';

@font-face {
  font-family: myFirstFont;
  src: url('../../static/fonts/OpenSans-Regular.ttf');
}

body {
  margin: 0;
  padding: 0;
  font-family: myFirstFont;
}

#root {
  height: 100%;
}

#app {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.ant-layout-sider-children {
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
}

.ant-input-group {
  height: 100%;
}

.ant-input {
  height: 100%;
}

.ant-tabs-extra-content {
  margin-right: 30px;
}

.button-green {
  background-color: #1aaa55;
  color: white;
  font-weight: bold;
}
.button-green:hover {
  background-color: #168f48;
}
.button-green:focus {
  background-color: #168f48; 
}

.hidden {
  display: none
}

.ant-card-head-title {
  padding: 5px 0 !important;
}
